@mixin default-apparence {
    padding: .625rem;
    background-color: #343434;
    border: 2px solid #393939;
    border-radius: 4px;
    font-size: 1rem;
    color: #c3c3c3;
}

input {
    @include default-apparence;
    margin-right: .625rem;
}

button {
    @include default-apparence;
    cursor: pointer;
    margin-right: .625rem;

    &:hover {
        background-color: #393939;
    }
}

.media-type {
    margin-left: 1.875rem;
    .active{
        background-color: #525252;
        color: #c3c3c3;
    }
}

select {
    @include default-apparence;
    margin-left: auto;
    
}